<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
	<style type="text/css">
	* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding:0px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
	

</style>

</head>
<body>

<tr>
<div class="head-update text-center" style="bottom: 0px; height:50px; background-image: url('image/mega.jpg');">
	<div class="container">
		<marquee><span style="color: black; font-size: 40px; font-style: italic;">KECAMATAN BABAKAN GEBANG</span></td></marquee>
		<a href="#" class="btn-close close-promo ml-5"><i class="fas fa-times"></i></a>
	</div>
</div></tr>
 <nav class="head-update text-center" style="background-color:	#DAA520;">
      <div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" style="width:50px; height: 50px; background-image: url('image/logo.gif');"></a>
	</div>
	<ul class="nav navbar-nav">
		<li><a  style="color: black;" class="nav-link" th:href="@{/}">Home</a></li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/profil}">Profil</a></li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/gallery}">Gallery</a></li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/keluarga}">Data keluarga</a></li> 
		<li class="dropdown">
			<a  style="color: black;" class="dropdown-toggle" data-toggle="dropdown" href="#">Kelurahan/Desa
			<span class="caret"></span></a>
			<ul class="dropdown-menu" style="background-color:	#DAA520;">
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Babakan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Babakan Gebang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Cangkuang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Gembongan Mekar</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Kudukeras</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">KuduMulya</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Bojong Gebang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Gembongan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Serang Kulon</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Serang Wetan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Karangwangun</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Pakusamben</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Sumber Lor</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Sumber Kidul</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a  style="color: black;" class="dropdown-toggle" data-toggle="dropdown" href="#">Lain-lain
			<span class="caret"></span></a>
			<ul class="dropdown-menu" style="background-color:	#DAA520;">
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Bupati Cirebon</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Camat Babakan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Kuwu Sekecamatan Babakan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Sekdes PNS Yang Masih Di Desa</a></li>
			</ul>
		</li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Kontak</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	<li><a href="#"><span class="glyphicon glyphicon-user"></span> Daftar</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	</ul>
   </div>
</nav>


<!-- isi -->
<div class="main">

<h1>GALLERY KECAMATAN</h1>
<h2>kategory</h2>

<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('nature')">Kantor Camat</button>
  <button class="btn" onclick="filterSelection('cars')">Desa</button>
  <button class="btn" onclick="filterSelection('people')">blok</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column nature">
    <div class="content">
      <img src="image/1.jpg" alt="Mountains" style="width:100%">
      <h4>Mountains</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column nature">
    <div class="content">
    <img src="image/2.jpg" alt="Lights" style="width:100%">
      <h4>Lights</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column nature">
    <div class="content">
    <img src="image/3.jpg" alt="Nature" style="width:100%">
      <h4>Forest</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  
  <div class="column cars">
    <div class="content">
      <img src="image/4.jpg" alt="Car" style="width:100%">
      <h4>Retro</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column cars">
    <div class="content">
    <img src="image/5.jpg" alt="Car" style="width:100%">
      <h4>Fast</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column cars">
    <div class="content">
    <img src="/w3images/cars3.jpg" alt="Car" style="width:100%">
      <h4>Classic</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column people">
    <div class="content">
      <img src="/w3images/people1.jpg" alt="Car" style="width:100%">
      <h4>Girl</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column people">
    <div class="content">
    <img src="/w3images/people2.jpg" alt="Car" style="width:100%">
      <h4>Man</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column people">
    <div class="content">
    <img src="/w3images/people3.jpg" alt="Car" style="width:100%">
      <h4>Woman</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
<!-- END GRID -->
</div>

<!-- END MAIN -->
</div>



</body>
<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}


// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>
</html>