<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
::-webkit-input-placeholder {
	font-style: italic;
}

:-moz-placeholder {
	font-style: italic;
}

:-ms-input-placeholder {
	font-style: italic;
}
</style>
<title>Bootcamp Test Type</title>
</head>
<body>
<tr>
<div class="head-update text-center" style="bottom: 0px; height:50px; background-image: url('image/mega.jpg');">
	<div class="container">
		<marquee><span style="color: black; font-size: 40px; font-style: italic;">KECAMATAN BABAKAN GEBANG</span></td></marquee>
		<a href="#" class="btn-close close-promo ml-5"><i class="fas fa-times"></i></a>
	</div>
</div></tr>
 <nav class="head-update text-center" style="background-color:	#DAA520;">
      <div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" style="width:50px; height: 50px; background-image: url('image/logo.gif');"></a>
	</div>
	<ul class="nav navbar-nav">
		<li><a  style="color: black;" class="nav-link" th:href="@{/}">Home</a></li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/profil}">Profil</a></li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/gallery}">Gallery</a></li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/keluarga}">Data keluarga</a></li> 
		<li class="dropdown">
			<a  style="color: black;" class="dropdown-toggle" data-toggle="dropdown" href="#">Kelurahan/Desa
			<span class="caret"></span></a>
			<ul class="dropdown-menu" style="background-color:	#DAA520;">
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Babakan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Babakan Gebang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Cangkuang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Gembongan Mekar</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Kudukeras</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">KuduMulya</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Bojong Gebang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Gembongan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Serang Kulon</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Serang Wetan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Karangwangun</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Pakusamben</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Sumber Lor</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Sumber Kidul</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a  style="color: black;" class="dropdown-toggle" data-toggle="dropdown" href="#">Lain-lain
			<span class="caret"></span></a>
			<ul class="dropdown-menu" style="background-color:	#DAA520;">
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Bupati Cirebon</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Camat Babakan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Kuwu Sekecamatan Babakan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Sekdes PNS Yang Masih Di Desa</a></li>
			</ul>
		</li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Kontak</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	<li><a href="#"><span class="glyphicon glyphicon-user"></span> Daftar</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	</ul>
   </div>
</nav>
<br>
<!-- isi -->
	
	<div><h3>DATA KELUARGA</h3>
		
			
				<div class="panel panel-default">
					<div class="panel-body">
					<table style="width: 100%;">
					<tr>
						<td style="padding-left: 1px;" align="left">
							<form th:action=@{/keluarga/search/name}>
								<input type="text" name="searchName"
									placeholder="Search by name" aria-hidden="true">
								<button class="btn btn-info" type="submit">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									Search
								</button>
							</form>
						</td>
						<td>
							<form th:action=@{/keluarga/urut/nama}>
								<input type="radio" name="urutNama" value="asc">
								Ascending <input type="radio" name="urutNama"
									value="desc"> Descending
								<button class="btn btn-info">Urutkan</button>
							</form>
						</td>
						<td>
							<form th:action=@{/keluarga/count}>
							<input th:value="${count}">
							<button class="btn btn-info">Hitung</button>
							</form>
						</td>
						<td align="right">
							<button th:href=@{/keluarga/addhtml} class="btn btn-info"
								id="btn-add" type="submit" data-toggle="modal"
								data-target="#modal-add">
								<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
								Add
							</button>
						</td>
					</tr></table>
						<table style="background-color:#ABB2B9;" width="900px" align="center" class="table">
						
							<thead>
								<tr>
									<th>Id</th>
									<th>Nama Keluarga</th>
									<th>Jumlah Keluarga</th>
									<th>Kelurahan</th>
									<th>Tanggal</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody id="list-keluarga"
								th:each="cobaModel,iStat:${cobaModelList}">
								<tr th:style="${iStat.odd}? 'background-color:#E5E8E8'">
									<td th:text="${cobaModel.id}"></td>
									<td th:text="${cobaModel.namaKeluarga}"></td>
									<td th:text="${cobaModel.jumlahKeluarga}"></td>
									<td th:text="${cobaModel.kelurahan}"></td>
									<td th:text="${cobaModel.tanggal}"></td>
									<td>
										<div class="dropdown">
											<button class="btn btn-default" type="button"
												id="dropdownMenu1" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="true">
												<span class="glyphicon glyphicon-align-justify"
													aria-hidden="true"></span>
											</button>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
												<li><a
													th:href=@{/keluarga/edithtml?(id=${cobaModel.id})}
													id="btn-edit" data-toggle="modal" data-target="#modal-edit"><span
														class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
														Edit</a></li>
												<li><a
													th:href=@{/keluarga/deletehtml?(id=${cobaModel.id})}
													id="btn-delete" data-toggle="modal"
													data-target="#modal-delete"><span
														class="glyphicon glyphicon-remove" aria-hidden="true"></span>
														Delete</a></li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-add" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"></div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-edit" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"></div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-delete" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"></div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	//refresh data
	refreshData();

	function refreshData() {
		$.ajax({
			url : '/coba/keluarga/data',
			type : 'get',
			dataType : 'html',		
			success : function(result) {				
				$('#list-keluarga').html(result);
			}
		});
	}	
	//refresh data

	//pop-up add
	$('#btn-add').click(function() {
		var id = $(this).val();
		$.ajax({
			url : '/coba/keluarga/data',
			type : 'get',
			dataType : 'html',
			data : {id,id},
			success : function(result) {
				/* $('#modal-add').modal('show'); */
				$('#modal-add').find('.modal-body').html(result);
			}
		});
	});
	//pop-up add

	//create
	$('#modal-add').on('submit','#form-add',function() {		
		$.ajax({
			url : '/coba/keluarga/add',
			type : 'post',			
			data : $(this).serialize(),
			success : function(result) {
				alert('data added');
				$('#modal-add').modal('hide');
				refreshData();
			}
		});
		return true;
	});
	//create
	
	//pop-up edit
	$('#list-keluarga').on('click','#btn-edit',function() {
		var id = $(this).val();
		$.ajax({
			url : '/coba/keluarga/edits',
			type : 'get',
			dataType : 'html',
			data : {id,id},
			success : function(result) {
				/* $('#modal-edit').modal('show'); */
				$('#modal-edit').find('.modal-body').html(result);
			}
		});
	});
	//pop-up edit
	
	//edit
	$('#modal-edit').on('submit','#form-edit',function() {		
		$.ajax({
			url : '/coba/keluarga/edit',
			type : 'post',			
			data : $(this).serialize(),
			success : function(result) {
				alert('data edited');				
				$('#modal-edit').modal('hide');
				refreshData();
			}
		});
		return true;
	});
	//edit
</script>
</html>