<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
	<style type="text/css">
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.isiProfil{
	background-color: blue;
	border: 10px;
}
</style>

</head>
<body>

<tr>
<div class="head-update text-center" style="bottom: 0px; height:50px; background-image: url('image/mega.jpg');">
	<div class="container">
		<marquee><span style="color: black; font-size: 40px; font-style: italic;">KECAMATAN BABAKAN GEBANG</span></td></marquee>
		<a href="#" class="btn-close close-promo ml-5"><i class="fas fa-times"></i></a>
	</div>
</div></tr>
 <nav class="head-update text-center" style="background-color:	#DAA520;">
      <div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" style="width:50px; height: 50px; background-image: url('image/logo.gif');"></a>
	</div>
	<ul class="nav navbar-nav">
		<li><a  style="color: black;" class="nav-link" th:href="@{/}">Home</a></li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/profil}">Profil</a></li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/gallery}">Gallery</a></li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/keluarga}">Data keluarga</a></li> 
		<li class="dropdown">
			<a  style="color: black;" class="dropdown-toggle" data-toggle="dropdown" href="#">Kelurahan/Desa
			<span class="caret"></span></a>
			<ul class="dropdown-menu" style="background-color:	#DAA520;">
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Babakan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Babakan Gebang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Cangkuang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Gembongan Mekar</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Kudukeras</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">KuduMulya</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Bojong Gebang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Gembongan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Serang Kulon</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Serang Wetan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Karangwangun</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Pakusamben</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Sumber Lor</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Sumber Kidul</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a  style="color: black;" class="dropdown-toggle" data-toggle="dropdown" href="#">Lain-lain
			<span class="caret"></span></a>
			<ul class="dropdown-menu" style="background-color:	#DAA520;">
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Bupati Cirebon</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Camat Babakan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Kuwu Sekecamatan Babakan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Sekdes PNS Yang Masih Di Desa</a></li>
			</ul>
		</li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Kontak</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	<li><a href="#"><span class="glyphicon glyphicon-user"></span> Daftar</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	</ul>
   </div>
</nav>


<!-- Header -->
<table>
<thead>
<tr>
<th>No</th>
<th>Periode (Tahun)</th>
<th>Nama Camat</th>
</tr>
<tr>
<th>No</th>
<th>Periode (Tahun)</th>
<th>Nama Camat</th>
</tr>
</thead>
</table>



</body>
</html>