<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="vendors/iconfonts/ionicons/css/ionicons.css">
<link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css"><link rel="stylesheet" href="vendors/iconfonts/typicons/src/font/typicons.css">
<link rel="stylesheet" href="vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css">
<link rel="stylesheet" href="css/shared/style.css">
<link rel="stylesheet" href="css/demo_1/style.css">
<link rel="shortcut icon" href="images/favicon.png">

<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<tr>
<div class="head-update text-center" style="bottom: 0px; height:50px; background-image: url('image/mega.jpg');">
	<div class="container">
		<marquee><span style="color: black; font-size: 40px; font:bold; font-style: italic;">KECAMATAN BABAKAN GEBANG</span></td></marquee>
		<a href="#" class="btn-close close-promo ml-5"><i class="fas fa-times"></i></a>
	</div>
</div></tr>
 <nav class="head-update text-center" style="background-image: url('image/t.png');">
      <div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" style="width:50px; height: 50px; background-image: url('image/logo.gif');"></a>
	</div>
	<ul class="nav navbar-nav">
		<li><a  style="color: black;" class="nav-link" th:href="@{/}">Home</a></li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/profil}">Profil</a></li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/gallery}">Gallery</a></li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/keluarga}">Data keluarga</a></li> 
		<li class="dropdown">
			<a  style="color: black;" class="dropdown-toggle" data-toggle="dropdown" href="#">Kelurahan/Desa
			<span class="caret"></span></a>
			<ul class="dropdown-menu" style="background-color:	#DAA520;">
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Babakan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Babakan Gebang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Cangkuang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Gembongan Mekar</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Kudukeras</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">KuduMulya</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Bojong Gebang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Gembongan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Serang Kulon</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Serang Wetan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Karangwangun</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Pakusamben</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Sumber Lor</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Sumber Kidul</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a  style="color: black; display: none;" class="dropdown-toggle"  data-toggle="dropdown" href="#">Kelurahan/Desa
			<span class="caret"></span></a>
			<ul class="dropdown-menu" style="background-color:	#DAA520;">
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Babakan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Babakan Gebang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Cangkuang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Gembongan Mekar</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Kudukeras</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">KuduMulya</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Bojong Gebang</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Gembongan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Serang Kulon</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Serang Wetan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Karangwangun</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Pakusamben</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Sumber Lor</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Sumber Kidul</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a  style="color: black;" class="dropdown-toggle" data-toggle="dropdown" href="#">Lain-lain
			<span class="caret"></span></a>
			<ul class="dropdown-menu" style="background-color:	#DAA520;">
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Bupati Cirebon</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Camat Babakan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Kuwu Sekecamatan Babakan</a></li>
				<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Nama-nama Sekdes PNS Yang Masih Di Desa</a></li>
			</ul>
		</li>
		<li><a  style="color: black;" class="nav-link" th:href="@{/biodata}">Kontak</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	<li><a th:href="@{/index}"><span class="glyphicon glyphicon-user"></span> Daftar</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	</ul>
   </div>
</nav>

<div style="height:700px; background-image: url('image/ll.jpeg'); background-size: 100%;"></div>
	<tr>
		
		<tbody id="list-barang">
<center><h3>Sejarah Kecamatan Babakan Gebang</h3><hr>
 Kecamatan Babakan terbentuk pada tahun 1950, berdasarkan Undang-Undang Nomor 14 Tahun 1950 tentang Pembentukan Daerah-Daerah Kabupaten</br>
 dalam lingkungan Propinsi Jawa Barat (Berita Negara tanggal 08 Agustus 1950). Termasuk didalamnya terdapat pembentukan Daerah Kabupaten</br>
 Cirebon dan berdasarkan Peraturan Daerah Kabupaten Cirebon Nomor Tahun 1951 tentang Pembentukan dan Penataan Kecamatan (Lembaran Daerah </br>
 Kabupaten Cirebon Nomor … Tahun 1951 Seri D.10). Camat Babakan adalah Camat di Kabupaten Cirebon dan Kecamatan Babakan adalah wilayah kerja </br>
 Camat Babakan sebagai Perangkat Daerah yang ada di Kabupaten Cirebon.</br>
Dengan lahirnya Peraturan Daerah Kabupaten Cirebon Nomor 17 Tahun 2006 tentang Pembentukan dan Pemekaran Kecamatan, maka Kecamatan Babakan</br>
dimekarkan menjadi 2 (dua) Kecamatan yaitu Kecamatan Babakan dan Kecamatan Gebang.</br>
Desa-Desa yang termasuk di Wilayah Kerja Kecamatan Babakan sejumlah 14 (empat belas) Desa adalah sebagai berikut.</br></center>
<hr>
				</tbody>
			
	
	</tr></table>
		<table>
		<tr style="height: 50px; width: 1350px;">
		<td colspan="2" >Bawah</td>
		</tr>
	</table>
	
	
	
</body>
<script type="text/javascript">

//function dalaam script dipanggil saat html dipanggil
	
	refreshDataBarang();

	//function ajax untuk refresh data (panggil list.html)
	function refreshDataBarang() {
		$.ajax({
			url : '/coba/utama/daftar',
			type : 'get',
			dataType : 'html',
			success : function(result) {
				$('#list-barang').html(result);
			}
		});
		
		
		<script>
		$('.nav-link').click(function(){
		var url=$(this).attr('href');
		$.ajax({
			url : url,
			type : 'get',
			dataType : 'html',
			success : function(result) {
				
				$('#isi').html(result);
			}
			});
			
			return false;
		});
		</script>
		<script type="text/javascript">
	    $(document).ready(function(){
	        function clock() {
	          var now = new Date();
	          var secs = ('0' + now.getSeconds()).slice(-2);
	          var mins = ('0' + now.getMinutes()).slice(-2);
	          var hr = now.getHours();
	          var Time = hr + ":" + mins + ":" + secs;
	          document.getElementById("watch").innerHTML = Time;
	          requestAnimationFrame(clock);
	        }

	        requestAnimationFrame(clock);
	    });
	</script>
</html>